h1 {
  color: white;
  font-size: 500%;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 20px;
  margin: 20px 10px;
  text-align: center;
  font-family: fantasy;
  transition-duration: 2s;
}
body {
  background-image: url('https://res.cloudinary.com/dktim9rur/image/upload/v1660145478/PANO_20180116_174831_trktyy.jpg');
  background-size: cover;
  transition-duration: 1s;
}
#button1 {
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 75%;
  font-size: larger;
}
.rightbar {
  margin-top: 100px;
  position: relative;
  grid-column: 2;
  grid-row: 3;
  text-align: center;
  justify-content: space-around;
  transition-duration: 2s;
}
.farRight {
  height: 80%;
  grid-column: 3;
  grid-row: 3;
  display: flex;
}
.mainbox {
  display: grid;
  background-size: 10%;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 100px 100px 5fr;
  align-items: baseline;
  padding: 26px;
  transition: 5s;
}
.mapbox {
  grid-column: 1;
  grid-row: 3;
  margin: 1vh 10vh;
  transition-duration: 7s;
}
.map {
  transition-duration: 2s;
}
#location {
  color: white;
  font-size: 1pt;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 2;
  padding: 40px;
  margin: 10px 10px 50px 10px;
  transition-duration: 2s;
}
#toggle {
  opacity: .25;
  height: fit-content;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.itineray {
  color: bisque;
  position: fixed;
  top: 180px;
  right: 100px;
  text-align: right;
  font-weight: bold;
  font-size: larger;
  transition-duration: 2s;
}
#clear {
  position: fixed;
  bottom: 50px;
  background-color: rgb(192, 22, 22);
  transition-duration: 2s;
}
#listItem {
  text-align: right;
  font-size: large;
  font-style: italic;
  transition-duration: 2s;
  color: goldenrod
}
.dark .map, .dark h1, .dark #location, .dark .rightbar, .dark .itineray, .dark #listItem, .dark #clear {
  opacity: 0;
  transition-duration: 1.5s;
}
.dark .mainbox {
  margin: 30px 30px;
}
#button2 {
  opacity: 0;
}
.top h1 {
  font-size: 1pt;
  opacity: 0;
  transition-duration: 1s;
}
.top #button2 {
  opacity: 1;
  background-color: green;
  border-radius: 0px;
  border-color: antiquewhite;
  border-radius: 10%;
  position: relative;
  bottom: 40px;
  transition-duration: 1s;
}
.top #location {
  text-align: center;
  font-size: 500%;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
  padding: 40px;
  margin: 10px 10px 50px 10px;
  transition-duration: 3s;
}
.fade .mapbox {
  background-image: url('https://i.imgur.com/uhFOdjY.gif');
  background-size: cover;
  transition-duration: 2s;
}

